body{
    background-image: url("weihnachten.JPG");
}

.drumpad {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 462px;

}

.button1 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#1E90FF, #0000FF);
    display: inline;
    float: left;
    margin: 2px;
}

.button2 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#1E90FF, #0000FF);
    display: inline;
    float: left;
    margin: 2px;
}

.button3 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#1E90FF, #0000FF);
    display: inline;
    float: left;
    margin: 2px;
}

.button4 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#FFB6C1, #FF00FF);
    display: inline;
    float: left;
    margin: 2px;
}

.button5 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#FFB6C1, #FF00FF);
    display: inline;
    float: left;
    margin: 2px;
}

.button6 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#FFB6C1, #FF00FF);
    display: inline;
    float: left;
    margin: 2px;
}

.button7 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#FFB6C1, #FF00FF);
    display: inline;
    float: left;
    margin: 2px;
}

.button8 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#FFD700, #FF8C00);
    display: inline;
    float: left;
    margin: 2px;
}

.button9 {
    width: 150px;
    height: 150px;
    border: 5px;
    border-radius: 3px;
    background-image: linear-gradient(#FFD700, #FF8C00);
    display: inline;
    float: left;
    margin: 2px;
}

div:hover {
    cursor: pointer;
}

.button1:hover {
    background-image: linear-gradient(#0000FF, #1E90FF);
}

.button2:hover {
    background-image: linear-gradient(#0000FF, #1E90FF);
}

.button3:hover {
    background-image: linear-gradient(#0000FF, #1E90FF);
}

.button4:hover {
    background-image: linear-gradient(#FF00FF, #FFB6C1);
}

.button5:hover {
    background-image: linear-gradient(#FF00FF, #FFB6C1);
}

.button6:hover {
    background-image: linear-gradient(#FF00FF, #FFB6C1);
}

.button7:hover {
    background-image: linear-gradient(#FF00FF, #FFB6C1);
}

.button8:hover {
    background-image: linear-gradient(#FF8C00, #FFD700);
}

.button9:hover {
    background-image: linear-gradient(#FF8C00, #FFD700);
}

.play {
    text-align: center;
}

img:hover {
    cursor: pointer;
}
