body{
    background-image:url("Station_6_Spaltenlayout/images/bg.png");
    background-repeat:repeat;
    display: grid;
    place-items: center;
    height: 100vh;
    }

    div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1{
        position: absolute;
        top: 50px;
        left: 100px;
        font-family: cursive;
        color: bisque;
    }

    .absatz1{
        position: absolute;
        top: 120px;
        left: 60px;
        font-family: cursive;
        width: 100px;
        color: bisque;
    }