html body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Arial, Serif;
}

canvas {
    border: 10px solid green;
    /*background-color: green;*/
    margin: auto 0;
    /*cursor: crosshair;*/
}

.points {
    position: absolute;
    top: 10%;
    font-size: 30px;
}

.player-info {
    position: absolute;
    margin: auto;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    background-color: #3ac33a;
}

.player-info p {
    margin: 5px 0;
}

.player-info h1 {
    margin: 0;
}
